@page
@model Quizzer.TriviaServer.Pages.Questions.IndexModel

@{
    ViewData["Title"] = "Questions Overview";
}

<h1>Questions</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Question) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
